﻿@model webMVC.Models.Role

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NameRole" class="control-label"></label>
                <input asp-for="NameRole" class="form-control" id="NameRole"/>
                <span asp-validation-for="NameRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Permissions:</label>
                <select class="form-control" id="name">
                    @if (ViewBag.Item != null)
                    {
                        @foreach (var item in ViewBag.Item)
                        {
                            <option value="@item.Id">@item.PermissionType</option>
                        }
                    }

                </select>
                <a style="border:double; color:blue; border-color: black" id="addItem">Add</a>
               
                <div id="editorRows">

                </div>

            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    <script>
        var ListPermission = [];

        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();
            var name = $("#NameRole").val();
            if (name === "") {
                alert("name role is empty");
                return false;
            }
         
            formData.append("NameRole", name);


            $.each(ListPermission, function (index, value) {
                formData.append("PermissionId", value);
            });

            console.log(formData);
            $.ajax({
                method: 'post',
                url: "Create",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location = "https://localhost:44346/Role";
                }
            });
        });


        $("#addItem").click(function () {
            var name = $('#name').find(":selected").text();
            var value = $('#name').find(":selected").val();
            if (!ListPermission.find(x => x == value)) {
                ListPermission.push(value);
                var html = $(`<label id="` + value + `"></label>`).text(name + " ");
                var html1 = `<span class="close" id="`+value+`" onclick="closePermission('` + value + `')">&times;</span>`;
                var html2 = `<br id="`+value+`"/>`;
                $("#editorRows").append(html, html1, html2);
              
            }
            else {
               
                alert("conflict");
            }
          

            return false;
        });

        function closePermission(value) {

            const index = ListPermission.indexOf(value);
            if (index > -1) {
                ListPermission.splice(index, 1); 
            }

            $("#" + value).remove();
            $("#" + value + ".close").remove();
            $("#" + value).remove();
          
        }

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




