﻿@model IEnumerable<webMVC.Models.Permission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Permission</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionType)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermissionType)
            </td>
         
            <td style="display:flex">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @using (Html.BeginForm("Delete", "Permission", new { id = item.Id }, FormMethod.Post, true, new { onsubmit = "return confirm('Are you sure to delete this permission? ')" }))
                {
                    @Html.AntiForgeryToken();
                    <input type="submit" value="Delete" style="background: none; color: #2572d8; border:none;" />

                }
            </td>
        </tr>
}
    </tbody>
</table>
