﻿@model webMVC.Models.Customer


@{
    ViewData["Title"] = "Create";
}
@using System.Text.RegularExpressions
<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantsId" class="control-label"></label>

                <select asp-for="TenantsId" class="form-control" id="TenantsId">
                    @if (ViewBag.Item != null)
                    {
                        @foreach (var item in ViewBag.Item)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }

                </select>
                <span asp-validation-for="TenantsId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" id="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" id="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" id="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" type="number" id="Phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" type="number" id="MobilePhone" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" id="Gender">

                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Others</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormTypeId" class="control-label"></label>

                <select asp-for="FormTypeId" class="form-control" id="FormType">
                    @if (ViewBag.FormType != null)
                    {
                        @foreach (var item in ViewBag.FormType)
                        {
                            <option value="@item.Id">@item.Code</option>
                        }
                    }

                </select>

            </div>
            <div class="form-group">
                <label asp-for="Properties" class="control-label"></label>
                <a id="addItemProp" style="border:double; color:blue; border-color: black">Add New</a>
                <div id="editorRowsProp">

                </div>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#tags").autocomplete({
                    source: '/Customer/GetFormType'
                });
            });
        </script>*@


    <script>
const { error } = require("jquery");

        var count = 0;

        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            var TenantId = $('#TenantsId').find(":selected").val();
            var FirstName = $("#FirstName").val();
            if (FirstName == "") {
                alert("firstname can not null");
                return false;
            }
            var LastName = $("#LastName").val();
            if (LastName == "") {
                alert("lastname can not null");
                return false;
            }
            var Email = $("#Email").val();
            if (Email == "") {
                alert("email can not null");
                return false;
            }
           
                var reg = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
            
		        if(!reg.test(Email)){
                    alert("email is not correct");
                    return false;
		        }
            var Phone = $("#Phone").val();
            if (Phone == "") {
                alert("phone can not null");
                return false;
            }
            var phoneRegex = /^[0-9]{10}$/
            if (!phoneRegex.test(Phone)) {
                alert("phone is not correct");
                return false;
            }
            var MobilePhone = $("#MobilePhone").val();
            if (MobilePhone == "") {
                alert("mobilephone can not null");
                return false;
            }
            if (!phoneRegex.test(MobilePhone)) {
                alert("phone is not correct");
                return false;
            }
            var Gender = $('#Gender').find(":selected").val();
            var FormType = $('#FormType').find(":selected").val();

            formData.append("TenantsId", TenantId);
            formData.append("FormTypeId", FormType);
            formData.append("FirstName", FirstName);
            formData.append("LastName", LastName);
            formData.append("Email", Email);
            formData.append("Phone", Phone);
            formData.append("MobilePhone", MobilePhone);
            formData.append("Gender", Gender);
            var list =[];
            $(".editorRow").each(function (i) {
                var code = $(this).children('.code').val();
                var detail = $(this).children('.detail').val();
                var attributes = {
                    code : code,
                    detail : detail
                };
                list.push(attributes);
            });
            if (list != null) {
                var myJsonString = JSON.stringify(list);
                formData.append("Properties", myJsonString);
            }
           

            $.ajax({
                method: 'post',
                url: "Create",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location = "https://localhost:44346/Customer";
                },         
                error: function () {
                    window.location = "https://localhost:44346/Home/NotFound";
                }
            });

        });




    $("#addItemProp").click(function () {
        var html = `<div class="editorRow" style="border:groove"><span style="padding-left: 4px">Code: </span> <input class="code" id="code` + count + `"/> <br /> <span>Detail: </span><input class="detail" id="detail` + count +`">  <a style="border:double; color:blue; border-color: black" class="deleteRow" id="`+count+`" onclick="closeForm(`+count+`)">Delete</a> <br /></div>`;
        $("#editorRowsProp").append(html);
        count++;
        });

    function closeForm(value) {
        $("a#" + value + ".deleteRow").parent().remove();
    }


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
