﻿@model webMVC.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            <label>Tenant</label>
        </dt>
        <dd class="col-sm-10">
            @if (ViewData["Tenant"] != null)
            {
                <label>@ViewData["Tenant"]</label>
            }
        </dd>
        @if (ViewBag.FormType != null)
        {
            <dt class="col-sm-2">         
                <label>@ViewBag.FormType.Code</label>
            </dt>
            <dd class="col-sm-10">
                <label>@ViewBag.FormType.Description</label>
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        @if (ViewBag.List != null)
        {
            @foreach (var item in ViewBag.List)
            {
                <dt class="col-sm-2">
                    <label>@item.code</label>
                </dt>
                <dd class="col-sm-10">
                    <label>@item.detail</label>
                </dd>



            }
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
