﻿@model IEnumerable<webMVC.Models.Tenant>

@{
    ViewData["Title"] = "Index";
}

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(4000).slideUp(500);
        });

    </script>
}

<style>
    #deleteBtn > form {
        display: inline-block;
    }
</style>
<h1>Index User</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="display:flex;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <span id="deleteBtn">
                        @using (Html.BeginForm("Delete", "Tenant", new { id = item.Id }, FormMethod.Post, true, new { onsubmit = "return confirm('Are you sure to delete this tenant? ')" }))
                        {
                            @Html.AntiForgeryToken();
                            <input type="submit" value="Delete" style="background: none; color: #2572d8; border:none;" />

                        }

                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
